---
import BaseSectionLayout from "layouts/BaseSectionLayout.astro";
import myPicture from "assets/images/raphaelmansueto_pic.jpg";
import { Image } from "@astrojs/image/components";
import { technologies } from "utils/constants";
---

<BaseSectionLayout>
  <article
    class="h-screen text-slate-500 flex flex-row justify-center pt-4 sm:pt-0 transition opacity-0 translate-y-4 ease-in duration-300 delay-300"
    id="about-me"
    onload-transition
  >
    <div class="flex flex-col justify-center">
      <h2
        class="flex items-center text-3xl font-bold text-slate-100 after:ml-5 after:content-[''] after:w-full after:md:w-[200px] after:h-[1px] after:block after:bg-slate-600 whitespace-nowrap mb-8"
      >
        <span class="text-sky-400 text-sm font-mono mr-2">I.</span>About&nbsp;Me
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="flex flex-col gap-4">
          <p>
            With <span class="font-bold font-mono text-sky-400"
              >2 years+ of experience in software development</span
            >, I have a well-rounded skill set that covers all aspects of the
            development process, from front-end to back-end programming.
          </p>

          <p>
            My strong foundation in programming and design principles allows me
            to create intuitive apps that are visually appealing and highly
            performant.
          </p>

          <p>
            I take pride in my attention to detail and my ability to deliver
            quality apps on time.
          </p>

          <p>Here are a few technologies I’ve been working with recently:</p>
          <ul class="grid grid-cols-2 sm:grid-cols-3 font-mono text-xs">
            {
              technologies.map((tech) => (
                <li class="relative before:content-['▹'] before:absolute before:left-0 pl-4 before:leading-3 before:text-sky-400 font-mono">
                  {tech}
                </li>
              ))
            }
          </ul>
        </div>

        <div
          class="hidden sm:flex max-w-[300px] max-h-[300px] w-full bg-sky-400 mx-auto cursor-pointer rounded-md"
        >
          <div
            class="relative flex rounded after:transition after:ease-in after:duration-200 w-full before:content-[''] before:absolute before:w-full before:h-full before:rounded before:inset-0 \before:mix-blend-screen hover:before:mix-blend-normal hover:before:bg-transparent after:content-[''] after:z-[-1] after:absolute after:h-full after:w-full after:left-6 after:top-6 hover:after:translate-x-[-8px] hover:after:translate-y-[-8px] after:border-sky-400 after:border after:rounded"
          >
            <Image
              src={myPicture}
              class="relative object-cover max-w-full w-full mix-blend-multiply hover:mix-blend-normal rounded-md"
              alt="raphael mansueto 1x1 picture"
            />
          </div>
        </div>
      </div>
    </div>
  </article>
</BaseSectionLayout>

<script>
  import type { TransitionalElement } from "types/transitional-element";
  import { onElementVisible, onElementLoadTransition } from "utils/transitions";

  const aboutMeSection = document.querySelector("#about-me");
  if (aboutMeSection) {
    const te: TransitionalElement = {
      element: aboutMeSection,
      transitions: [
        {
          property: "opacity",
          from: 0,
          to: 100,
        },
        {
          property: "translate-y",
          from: 4,
          to: 0,
        },
      ],
    };
    onElementVisible(
      aboutMeSection,
      te,
      "onload-transition",
      onElementLoadTransition
    );
  }
</script>
