---
interface Props {
  title: string;
  link?: string;
  duration: number;
}

const { title, link, duration } = Astro.props;
---

<nav-item
  class={`opacity-0 -translate-y-6 transition ease-in delay-200 duration-${duration}`}
>
  <li>
    <a
      href={link ?? "#"}
      class="text-slate-300 font-mono font-thin hover:text-sky-400"
    >
      {title}
    </a>
  </li>
</nav-item>

<script>
  class NavItem extends HTMLElement {
    constructor() {
      super();

      document.addEventListener("DOMContentLoaded", () => {
        // this.

        this.classList.remove("opacity-0");
        this.classList.remove("-translate-y-6");

        this.classList.remove("translate-y-0");
        this.classList.add("opacity-100");
      });
    }
  }
  customElements.define("nav-item", NavItem);
</script>
