---
import { SNSList } from "utils/constants";
---

<div class="hidden sm:block fixed bottom-0 left-4" id="sms-links">
  <ul
    class="after:content-[''] after:h-24 after:mx-auto after:my-0 after:text-red-500 after:block after:w-[1px] after:bg-slate-400 gap-2 font-mono text-thin text-sm transition opacity-0 translate-y-8 ease-in duration-500 delay-[1500ms]"
  >
    {
      SNSList.map((sns) => (
        <li class="mb-2">
          <a href="#" class="hover:text-sky-400">
            {sns.name}
          </a>
        </li>
      ))
    }
  </ul>
</div>

<script>
  import type { TransitionalElement } from "types/transitional-element";
  import { onElementsLoadTransition } from "utils/transitions";

  const elements = document.querySelector("#sms-links")?.children;
  document.addEventListener("DOMContentLoaded", () => {
    if (elements) onLoadTransition([...elements]);
  });

  function onLoadTransition(elements: Element[]) {
    const tes: TransitionalElement[] = elements.map((te) => {
      return {
        element: te,
        transitions: [
          {
            property: "opacity",
            from: 0,
            to: 100,
          },
          {
            property: "translate-y",
            from: 8,
            to: 0,
          },
        ],
      };
    });
    onElementsLoadTransition(tes);
  }
</script>
